html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: segoe;
  src: url(../fonts/segoeui.ttf); }

@font-face {
  font-family: segoeb;
  src: url(../fonts/seguisb.ttf); }

body {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0 none;
  outline: 0; }

#mainContent {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  cursor: pointer;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  border: 1px solid #cccccc;
  background: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

.hide {
  opacity: 0; }

.copy {
  width: 100%;
  text-align: center;
  font-size: 3em; }

.frameCopy {
  position: absolute;
  top: 40%;
  width: 100%; }

.endFrameCopy {
  position: absolute;
  top: 37%;
  width: 71.42857%; }

.lineTwo {
  margin-top: 3vh; }

#logo {
  width: 20%;
  max-width: 200px;
  margin-top: 2%;
  margin-left: 2%;
  -webkit-transform: translateY(-100px);
  -ms-transform: translateY(-100px);
  transform: translateY(-100px); }

#laptop {
  position: absolute;
  top: 15%;
  left: 68%;
  -webkit-transform: translateX(150%);
  -ms-transform: translateX(150%);
  transform: translateX(150%); }

#cta {
  background: #147AD1;
  padding: 12px 25px;
  display: inline-block;
  font-size: 20px;
  color: #fff;
  top: 70%;
  position: absolute;
  left: 29%;
  opacity: 0; }

@media screen and (max-width: 1024px) {
  .copy {
    font-size: 1.8em; }
  .endFrameCopy {
    width: 50%;
    top: 30%; }
  #laptop {
    left: 55%;
    width: 40%; }
  #cta {
    left: 16%; } }

@media screen and (max-width: 768px) {
  .endFrameCopy {
    top: 30%; }
  #laptop {
    top: 22%; } }

@media screen and (max-width: 568px) {
  .copy {
    font-size: 1.3em; }
  .endFrameCopy {
    width: 65%; }
  #laptop {
    left: 64%;
    width: 38%; } }

@media screen and (max-width: 375px) {
  .endFrameCopy {
    top: 20%;
    width: 100%; }
  #laptop {
    top: 50%;
    left: 10px;
    width: 100%; }
  #cta {
    top: 43%;
    left: 20%; } }

#dc_container {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: auto;
  display: none; }

#dc_content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: #FFF;
  z-index: 100; }

/* Invisible button for background clickthrough. */
#dc_background_exit {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 998;
  cursor: pointer;
  opacity: 0; }

#dc_bgImage {
  position: absolute;
  bottom: 0px;
  left: 0px; }

#dc_expand_logo {
  position: absolute;
  left: 5px;
  top: 5px; }

#dc_btnClose {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 10px;
  right: 10px;
  z-index: 999;
  background-color: #000;
  cursor: pointer; }
