//  Colours
$white: #fff;

$lightColor: #502387;
$darkColor: #301551;

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}
@font-face {
    font-family: segoe;
    src: url(../fonts/segoeui.ttf);
}
@font-face{
    font-family: segoeb;
    src: url(../fonts/seguisb.ttf);
}