@import "_settings";
@import "_config";
body {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
	border: 0 none;
	outline: 0;
}

#mainContent {
    position: relative;
    overflow: hidden;
    width: $width;
    height: 100vh;
    cursor: pointer;
    transform: rotate(0deg);
    border: 1px solid #cccccc;
    background:$white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}
.hide{
    opacity:0;
}
.copy{
    width:$width;
    text-align:center;
    font-size: 3em;
}
.frameCopy{
    position:absolute;
    top:40%;
    width:$width;
}
.endFrameCopy{
    position: absolute;
    top:37%;
    width:$width/1.4;
}

.lineTwo{
    margin-top:3vh;
}
#logo{
    
    width: 20%;
    max-width:200px;
    margin-top:2%;
    margin-left:2%;
    transform: translateY(-100px);
}
#laptop{
    position:absolute;
    top:15%;
    left: 68%;
    transform:translateX(150%);
}
#cta{
    background: #147AD1;
    padding: 12px 25px;
    display: inline-block;
    font-size: 20px;
    color: #fff;
    top: 70%;
    position: absolute;
    left: 29%;
    opacity:0;
}

@media screen and (max-width: 1024px){
    .copy{
        font-size: 1.8em;
    }
    .endFrameCopy{
        width:50%;
        top:30%;
    }

    #laptop{
        left:55%;
        width:40%;
    }
    #cta{
        left: 16%;
    }
}
@media screen and (max-width: 768px){
    .endFrameCopy{
        top: 30%;
    }
    #laptop{
        top: 22%;
    }
}
@media screen and (max-width: 568px){
    .copy{
        font-size: 1.3em;
    }
    .endFrameCopy{
        width:65%;
    }
    #laptop{
        left:64%;
        width:38%;
    }
   
}
@media screen and (max-width: 375px){
    .endFrameCopy{
        top:20%;
        width:$width;
    }
    #laptop{
        top:50%;
        left:10px;
        width: 100%;
    }
    #cta{
        top:43%;
        left:20%;
    }
}

#dc_container {
	position: absolute;
	width: 100%;
	height: 100%;
	margin: auto;
	display:none;
}

#dc_content {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background-color: #FFF;
	z-index: 100;
}

/* Invisible button for background clickthrough. */

#dc_background_exit{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 998;
	cursor: pointer;
	opacity: 0;
}

#dc_bgImage{
	position: absolute;
	bottom: 0px;
	left: 0px;
}

#dc_expand_logo{
	position: absolute;
	left: 5px;
	top: 5px;
}

#dc_btnClose{
	position: absolute;
	width: 25px;
	height: 25px;
	top: 10px;
	right: 10px;
	z-index: 999;
	background-color: #000;
	cursor: pointer;
}


